# Essential Python

# 1. Basic commands

In [ ]:
import os
# Change to a specific directory
#os.chdir("C:\\backup\\Ganesh-backup\\CloudSSA\\CTSP\\python")

# Get current working directory
#os.getcwd()

# List all files in a directory
#os.listdir()

# 2. Tuples, lists and dictionaries
The 3 basic data types in Python are

- Tuples
- List
- Dictionary

In [ ]:
# Tuples are enclosed in paranthesis
#mytuple=(1,3,7,6,"test")
#print(mytuple)

# Lists are enclosed in square brackeys
#mylist = [1, 2, 7, 4, 12 ]
#print(mylist)


#Dictionary - These are similar to name-value pairs
#mydict={'Name':'Ganesh','Age':54,'Occupation':'Engineer'}
#mydict
#mydict['Age']

# No of elements in tuples, lists and dictionaries can be got with len()
print(len(mytuple))
print(len(mylist))
print(len(mydict))

# 3. Adding elements to tuples, lists and dictionaries

In [ ]:
# Tuples are immutable. You cannot add to the tuple
# Accessing tuples
#mytuple[0]
#Slices 2nd upto 4th
#mytuple[2:4]

# Accessing Lists 
# You can add to lists
#mylist.append(20)
#print(mylist)
# Print 3rd element . Index starts from 0
#mylist[2]
#mylist[3:6]
#mylist[-2]
#mylist[-5:-2]

# Dictionaries
#mydict.items()
#mydict.keys()

# 4. Accessing help
Help on any python command can be obtained as below.

In [ ]:
import pandas as pd
#Help
#help(len)
#len?
#help(pd.concat)
#pd.merge?

# 5.  Type of a variable

In [ ]:
#a=5.4
#print(type(a))
#b='A string'
#print(type(b))
#type(mytuple)
#type(mylist)
#type(mydict)

# 6.  Numpy
NumPy is the fundamental package for scientific computing with Python.

In [ ]:
import numpy as np
#Create a 1d numpy array
#data1 = [6, 7.5, 8, 0, 1]
#arr1 = np.array(data1)
#arr1

#or in a single line
#arr1= np.array([6, 7.5, 8, 0, 1])
#arr1

#Create a 2d numpy array
#data2 = [[1, 2, 3, 4], [5, 6, 7, 8]]
#arr2 = np.array(data2)
#arr2
# Get the dimension of the array
#arr2.ndim

#Display the shape of the array
#arr2.shape

#Create matrix of 3 x6 matrix of zeros
#np.zeros((3, 6))

#Create matrix of 4 x 2 matrix of ones
#np.ones((4,2))

# Create an array of integers
#arr2 = np.array([1, 2, 3], dtype=np.int32)
#arr2

# 7. Some operations on numpy arrays

In [ ]:
#Create arrays
import numpy as np


#G=np.random.randn(10,10)
#G
#G.mean()

#G.var()

#Matrix
#A=np.array([[1,2],[3,4]])
#A

# 8. Slicing arrays

In [ ]:
#Operations between numpy arrays
#arr = np.array([[1., 2., 3.], [4., 5., 6.]])
#arr

# Add to arrays
#arr+arr
#arr - arr
#arr * arr

#Create an array from 0 to 10 using arange
#arr = np.arange(10)
#print(arr)

# Display the 6th element. Index starts at 0
arr[5]
#
#Display from 6th up to 8th
#arr[5:8]

# Set all elements from 6th to 8 to 12
#arr[5:8] = 12
arr
# You can apply operations over the entire array in a single command
#np.sqrt(arr)
#np.sin(arr)

# 9. Generating sequences

In [ ]:
# Generate sequences from start to stop and increase by step
#np.arange(2,12,3)

# Generate sequence of length between start abd stop
#np.linspace(2,12,5)

# 10. Generating random numbers
This is very useful when trying to simulate certain conditions

In [ ]:
#Generating random araays
# Generate random numbers from the uniform distribution
#np.random.rand(2,4)

# Generate random numbers between 0 & 1 from the normal distribution
#np.random.randn(2,4)

#Generate random integers
#np.random.randint?
#np.random.randint(3,5,size=6).reshape(2,3)

# 11. Reshaping arrays

In [ ]:

#arr2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

# Reshape as a 5 x 4 matrix
#arr2d = np.arange(20)
#arr2d
#arr2d = np.arange(20).reshape(5,4)
#arr2d

#Reshape same array as a 2 x 10 matrix
#arr2d=arr2d.reshape(2,10)
#arr2d.shape
#arr2d

# 12. Subsetting arrays

In [ ]:
#arr2d
#arr2d[1,2]

print(arr2d)
# Slicing arr[startRow:endRow,startColumn:endColumn] --******
#arr2d[2:4,1:4]

#Slice from the 0th to 3 row and 2 column
#arr2d[:3,2]

# Slice all rows but only columns 2 & 3
#arr2d[:,1:3]

# Display all rows and all columns
#arr2d[:,:]
#np.exp(arr2d)

# 12a. Computing sum, mean of arrays

In [ ]:
#arr = np.random.randn(4, 8) # normally-distributed data
arr.mean()
#np.mean(arr)
#arr.sum()

# 13. Pandas 
Pandas is a Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive.

# 13 a. Pandas Series

In [ ]:
import pandas as pd
#obj = pd.Series([4, 7, -5, 3])
#obj
#obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
#obj2
#obj2.index
#obj2.values
#obj2

# 14. Pandas dataframes

In [ ]:
import pandas as pd
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
#data
#frame = pd.DataFrame(data)
#frame
#arr = np.arange(20).reshape(4,5)
#arr
#df=pd.DataFrame(arr)
#df
#df.shape
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                   index=['one', 'two', 'three', 'four', 'five'])
#frame2

# Important commands on pandas
#frame.shape
#frame2.info()
#frame2.columns

# 15. Methods to subset dataframes

In [ ]:
# The iloc method allows you to use indices much like an array
# Display all rows and the 1st column
#print(frame)
#frame.iloc[1:3,1:3]
#frame.shape

# Display rows 2nd to 4th and column 3
#frame.iloc[1:4,2:3]

#Display row with index=1
#frame.loc[1:4]

In [ ]:
# 15a. Doing more with Dataframes. Read CSV and XL files

In [ ]:
# Read csv
#tendulkar=pd.read_csv('tendulkar.csv',encoding = "ISO-8859-1")
#tendulkar.head()

# Read XL
#?pd.read_excel
#car=pd.read_excel('gascar.xls',sheetname='cardata')
#car.head()

# 16. Basic Data frame operations

In [ ]:
# Display top 10 rows
#tendulkar.head()

#Display bottom 10 rows
#tendulkar.tail()

# Display the shape of the dataframe - no of rows and no of columns
#tendulkar.shape

#Display the column names
#tendulkar.columns

# Describe the data frame. The columns and the data types of the columns
#tendulkar.info()

#Rename columns as you find appropriate
tendulkar.columns=['No', 'Runs', 'Mins', 'BF', '4s', '6s', 'SR', 'Pos',
       'Dismissal', 'Inns', 'Opposition', 'Ground', 'Start Date']
#tendulkar.head(10)

# 17. Cleaning dataframes

In [ ]:
# Cleanup of Runs column
# Remove rows which have DNB
#tendulkar.Runs
#a=tendulkar.Runs !="DNB"
#tendulkar=tendulkar[a]
#tendulkar.shape

# Remove rows which have TDNB
#b=tendulkar.Runs !="TDNB"
#tendulkar=tendulkar[b]
#tendulkar.shape

# Remove the '*' character
#c= tendulkar.BF != "-"
#tendulkar=tendulkar[c]
#tendulkar.Runs= tendulkar.Runs.str.replace(r"[*]","")

#tendulkar.shape

# 18. Filtering rows  and selecting columns

In [ ]:
#Subsetting
# Select specific columns from tendulkar dataframe
#df1=tendulkar[['Runs','BF','Ground']]
#df1.head()

# Select rwos that meet some condition
#a=tendulkar['Ground']=='Karachi'
#df2=tendulkar[a]
#df2.head()

# Filter rows when Groud is Karachi
#df2=tendulkar[tendulkar['Ground']=='Karachi']
#df2.head()

# This line will give an error
#b = tendulkar['Runs'] >50
#tendulkar3 = tendulkar[b]
#tendulkar3.head()

# Check the type of 'Runs' column (element 0)
#type(tendulkar['Runs'][0])
#Convert to numeric. Use tab to see options
#tendulkar['Runs']=pd.to_numeric(tendulkar['Runs'])
#tendulkar['BF']=pd.to_numeric(tendulkar['BF'])

# Check the type of 'Runs' column
#type(tendulkar['Runs'][0])
#b=tendulkar['Runs']>50

#df3=tendulkar[b]

#tendulkar.head()
# Select only rows where Tendulkar scored more than 50
#df3=tendulkar[tendulkar['Runs']>50]
#df3.head()
#print(tendulkar.head())

# Operations on dates
#tendulkar['Start Date']
#tendulkar['Start Date']=pd.to_datetime(tendulkar['Start Date'])
#tendulkar.head()
#a=tendulkar['Start Date'] > '01-01-2005'
#tendulkar5K=tendulkar[tendulkar['Start Date'] > '01-01-2005']
#tendulkar5K.head()

# iloc can be used for slicing. Similar to handling numpy arrays
#tendulkar.iloc[1:4,2:6]
# .loc is used to select rows by index
#tendulkar.loc[[2,5]]

# 19. Remove null rows and columns

In [ ]:
#Further clean up
#a=tendulkar.dropna()
#a.shape

# 20 Performing common operation on rows grouped by criteria

In [ ]:
#Compute mean of column
#tendulkar['Runs'].mean()


# Group rows by some criteria and perform an operation Groupby
#a=tendulkar[['Runs','BF','Ground']].groupby('Ground').mean()
#b=a.sort_values('Runs',ascending=False)
#b
#tendulkar[['Runs','BF','Ground']].groupby('Ground').mean().sort_values('Runs',ascending=False)

#tendulkar.head(15)
#tendulkar[['Runs','BF','Opposition']].groupby('Opposition').mean().sort_values('Runs',ascending=False)

# You can add all the commands in a single line 
#a=tendulkar[['Runs','BF','Ground']].groupby('Ground').mean().sort_values('Runs',ascending=False)
#a

#Compute mean and average of Runs and Balls faced
#a=tendulkar[['Runs','BF','Ground']].groupby('Ground').agg(['sum','mean','count'])

# 21 Lambda and Map operations

In [ ]:
# Python - Operations on list
#a =[5,2,3,1,7]
#b =[1,5,4,6,8]

# On seperate lines
#add=lambda x,y:x+y
#list(map(add,a,b))

#or
#Element wise addition with map & lambda
#print(list(map(lambda x,y: x+y,a,b)))
#Element wise subtraction
#print(list(map(lambda x,y: x-y,a,b)))
#Element wise product
#print(list(map(lambda x,y: x*y,a,b)))
# Exponentiating the elements of a list
#print(list(map(lambda x: x**2,a)))

In [ ]:
#tendulkar
#sum = lambda x, y : x + y
#sum(3,4)
#tendulkar['4s']=pd.to_numeric(tendulkar['4s'])
#tendulkar['4s'].apply(lambda x:4*x)

# using lamda to compute a sauare
#items = [1, 2, 3, 4, 5]
#squared = list(map(lambda x: x**2, items))   
#squared

# Convert Celsius to Fahrenheit
#Celsius = [39.2, 36.5, 37.3, 37.8]
#Fahrenheit = list(map(lambda x: (float(9)/5)*x + 32, Celsius))
#Fahrenheit

# 21 a Python functions

In [ ]:
#def product(x,y):
#    value=x*y
#    return(value)

#product(8,9)

# 22. Some basic plots

In [ ]:
import matplotlib.pyplot as plt
# Scatter plot
%pylab inline
pylab.rcParams['figure.figsize'] = (10, 6)
#plt.scatter(tendulkar.BF,tendulkar.Runs)
#plt.suptitle('Tendulkars Runs vs Balls faced', fontsize=20)
#plt.xlabel('Balls faced', fontsize=18)
#plt.ylabel('Runs', fontsize=16)

#plt.show()

In [ ]:
# Histogram
%pylab inline
pylab.rcParams['figure.figsize'] = (10, 6)
#plt.hist(tendulkar['Runs'])
#plt.suptitle('Tendulkars histogram of Runs ', fontsize=20)
#plt.xlabel('Frequency', fontsize=18)
#plt.ylabel('Runs', fontsize=16)
#plt.show()